#category {
    padding-top: 80px;

}

#category .detail {
    width: 1210px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-left: 353px;
    border-radius: 15px;
    background-color: #fff;
}

#category .card-wrapper .card {
    margin-bottom: 20px;
}
