.login {
    position: fixed;
    width: 100vw;
    min-height: 100vh;
    background-color: #f1f1f16a;
    z-index: 999999;
    backdrop-filter: blur(20px);
    display: grid;
    place-content: center;
    display: none;
}

.login-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2px;
    width: 466px;
    height: 425px;
    border-radius: 10px;
    background-color: #ffff;
    display: grid;
    place-content: center;
    position: relative;
}

.login-wrapper button {
    width: 334px;
    height: 40px;
    padding: 14px, 0px, 14px, 0px;
    border-radius: 8px;
    gap: 10px;
    background-color: transparent;
    font-family: Nuckle;
    font-size: 16px;
    font-weight: 539;
    line-height: 19px;
    letter-spacing: 0.01em;
    text-align: center;
    margin-top: 12px;
    margin-bottom: 12px;
    cursor: pointer;
    background-image: var(--bg-gradient-dark);






}

.login-wrapper button:hover {
    background-color: rgba(13, 99, 243, 1);
    color: #ffff;
}

.login-wrapper h3 {
    font-family: Nuckle;
    font-size: 28px;
    font-weight: 591;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(51, 50, 50, 1);
    margin-bottom: 75px;
}

.active-login {
    display: grid;
}

.login-wrapper h4 {
    font-family: Nuckle;
    font-size: 14px;
    font-weight: 539;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;
}

.login-wrapper #close {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}